{% extends 'template.html' %}
{% block title %} Home {% endblock %}

{% block contents %}
    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta facilis possimus saepe! Nesciunt veniam aut, assumenda porro voluptates dolorem, mollitia nemo inventore voluptatem et sapiente sequi similique obcaecati dolores. Quisquam?</p>
    <p style="color: white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sapiente dicta numquam id. Deserunt, placeat blanditiis necessitatibus repellat dolores saepe modi sed similique. Repudiandae dolores possimus, magni sint aliquid accusamus?</p>
    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illum quod doloribus maiores, eveniet recusandae deserunt laborum eligendi accusamus dignissimos vel harum error mollitia modi assumenda, debitis nulla unde. Ullam.</p>
    <p style="color: white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum voluptates nam quidem tempore assumenda distinctio nesciunt ex eos totam ducimus rem voluptatem nobis quas est, saepe aliquid tenetur aut culpa.</p>
{% endblock%}